<%- include('../partials/header') %>
<h1><%= title %></h1>

<ul>
    <% staff.forEach(function(s) { %>
      <li>
          <a href="/staff/<%= s.firstName %>"><%= s.firstName %></a>
          <ul>
            <li>
                <%= s.skill %></a>
            </li>
          </ul>
      </li>
    <% }); %>
  </ul>


<%- include('../partials/footer') %>